@media only screen and (max-width: 576px) {
    .container {
        width: 100%;
    }

    .hidden {
        display: none;
    }
    
    .section-title {
        font-size: 1.8rem;
    }

    .navbar {
        border-bottom: .5px solid #FEA301;
        padding: 12px 20px;
    }

    .mobile-menu {
        display: block;
    }
    /* Hero Section */
    .hero-container {
        flex-direction: column-reverse;
        gap: 20px;
    }

    .hero-content {
        text-align: center;
        width: 100%;
    }

    .hero-title {
        font-size: 2rem;
        line-height: normal;
    }

    .hero-description {
        font-size: 0.875rem;
        font-weight: 500;
    }

    .hero-img {
        width: 100%;
    }

    /* Standard Curriculum Section / Our Stories Section */
    .curriculum {
        padding: 0px 20px;
    }
    .curriculum-cards-container,
    .our-stories-container {
        margin: 30px 0px;
        grid-template-columns: 1fr;
    }

    .our-stories-section { 
        padding: 40px 20px;

    }

    .our-story-two .btn,
    .our-story-four .btn,
    .our-story-five .btn,
    .our-story-three .btn {
        top: 52%;
    }
}