/* Font Family Import */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Quicksand", serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Common Styles */
.container {
    width: 1440px;
    margin: 0 auto;
}

.section-title {
    color: #111;
    font-size: 2.875rem;
    font-weight: 700;
    text-align: center;
}

.paragraph {
    font-family: "Raleway", serif;
    color: #808080;
    font-size: 0.959rem;
    font-weight: 500;
    line-height: 28.761px;
}

.text-orange {
    color: #fea301;
}

.text-skyblue {
    color: #01acfd;
}

.text-cyan {
    color: #05d4df;
}
.text-periwinkle {
    color: #5d58ef;
}

.linear-one {
    border: 0.943px solid #DEF5FF;
    background: linear-gradient(180deg, #DEF5FF 0%, rgba(255, 255, 255, 0.00) 40%), #FFF;
}

.linear-two {
    border: 0.943px solid #FFF4DC;
    background: linear-gradient(180deg, #FFF4DC 0%, rgba(255, 255, 255, 0.00) 40%), #FFF;
}

.linear-three {
border: 0.943px solid #F2E8FF;
background: linear-gradient(180deg, #EEE1FF 0%, rgba(255, 255, 255, 0.00) 40%), #FFF;
}

.btn {
    font-family: "Quicksand", serif;
    padding: 10px 30px;
    border: none;
    outline: none;
    border-radius: 12px;
    color: #ffffff;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
    transition: opacity .3s;
}

.btn:hover {
    opacity: .8;
}

.btn-orange {
    background:#fea301;
}

.btn-black {
    background-color: #111;
}

/* Header Section Style Start */
.marquee {
    background-color: #111;
    color: #fff;
    padding: 15px 0px;
    font-weight: 600;
    font-size: 1.1rem;
}

/* Navbar Style Start */
.navbar {
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}

.menu {
    display: flex;
    gap: 32px;
}

.menu li a {
    font-size: 1.25rem;
    font-weight: 500;
}

.mobile-menu {
    font-size: 2rem;
    color: #111;
    cursor: pointer;
    display: none;

}
/* Navbar Style End */

/* Hero Section Start */
.hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    padding: 0px 20px;
}

.hero-content {
    width: 40%;
}

.hero-title {
    color: #111;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 61px;
}

.hero-description {
    color: #111;
    font-size: 1.25rem;
    font-weight: 400;
    margin: 24px 0px;
}

.hero-img {
    width: 40%;
}

.hero-img img {
    width: 100%;
}
/* Hero Section End */

/* Header Section Style End */

/* Standard Curriculum Section Style Start */
.curriculum-section {
    padding: 60px 0px;
    background-image: url("../assets/bg.png");
}

.curriculum-cards-container {
    margin: 80px 0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 28px;
}

.curriculum-card {
    padding: 50px 40px;
    border-radius: 18.8px;
    box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.curriculum-card-title {
    color: #202020;
    font-size: 1.533rem;
    font-weight: 700;
}

.curriculum-card a {
    font-size: 0.938rem;
    font-weight: 700;
}

.curriculum-left-right-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.left-arrow,
.right-arrow {
    background-color: #fea301;
    color: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.left-arrow i,
.right-arrow i {
    font-size: 1.5rem;
    font-weight: 900;
}
/* Standard Curriculum Section Style End */

/* Our Stories Section Style Start */
.our-stories-section {
    padding: 60px 0px;
    background: linear-gradient(0deg, rgba(254, 163, 1, 0.30) 0%, rgba(255, 255, 255, 0.30) 100%), url("../assets/bg.png");
    background-position: center;
}

.our-stories-container {
    margin: 80px 0px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 20px;
}

.our-story {
    position: relative;  
    border-radius: 16px;
    background-color: #fff;
    overflow: hidden;
}

.our-story-img img {
    width: 100%;
}

.our-story-one {
    grid-row: span 2;
}

.our-story-content {
    padding: 30px;
} 

.our-story-title {
    color: #111;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 38.347px;
    margin-top: 20px;
}

.our-story-content .paragraph {
    margin-top: 30px;
}

.our-story-content .paragraph a {
    color: #01acfd;
    text-decoration: underline;
    font-weight: 600;
}

.our-story-one .btn {
    background: #3CD8E8;
    position: absolute;
    top: 53%;
    left: 30px;
}

.our-story-two .btn,
.our-story-four .btn,
.our-story-five .btn {
    background-color: #95B226;
    position: absolute;
    top: 50%;
    left: 30px;
}

.our-story-three .btn {
    background-color: #5d58ef;
    position: absolute;
    top: 50%;
    left: 30px;
}

.stories-section-btn {
    text-align: center;
}
/* Our Stories Section Style End */

/* Footer Start */
.footer {
    background-color: #01ACFD;
    padding: 124px 0px 150px;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-logo h3 {
    color: #fff;
    font-size: 42.143px;
    font-weight: 700;
}

.footer-description {
    margin-top: 30px;
    color: #fff;
    font-size: 1.25rem;
}

.footer-title {
    color: #fff;
    font-size: 1.625rem;
    font-weight: 700;
    margin-bottom: 25px;
}

.about-links-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-links-container a {
    color: #ffffff;
    font-size: 1.25rem;
    font-weight: 500;
    transition: color .3s;
}

.about-links-container a:hover {
    color: #fea301;
}

.social-links-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.social-link {
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.social-link a {
    color: #fff;
    text-align: center;
    font-size: 1.3rem;;
    font-weight: 400;
}

.social-link-one {
    background-color: #3B5998;
}
.social-link-two {
    background-color: #EA4C89;
}
.social-link-three {
    background-color: #1DA1F2;
}
.social-link-four {
    background-color: #DD4B39;
}



/* Footer End */