/* Font Family Import */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Quicksand", serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Common Styles */
.container {
    width: 1440px;
    margin: 0 auto;
}

.paragraph {
    font-family: "Raleway", serif;
    color: #808080;
    font-size: 0.959rem;
    font-weight: 500;
    line-height: 28.761px;
}

.text-orange {
    color: #fea301;
}

.text-skyblue {
    color: #01acfd;
}

.text-cyan {
    color: #05d4df;
}
.text-periwinkle {
    color: #5d58ef;
}

.linear-one {
    border: 0.943px solid #DEF5FF;
    background: linear-gradient(180deg, #DEF5FF 0%, rgba(255, 255, 255, 0.00) 40%), #FFF;
}

.linear-two {
    border: 0.943px solid #FFF4DC;
    background: linear-gradient(180deg, #FFF4DC 0%, rgba(255, 255, 255, 0.00) 40%), #FFF;
}

.linear-three {
border: 0.943px solid #F2E8FF;
background: linear-gradient(180deg, #EEE1FF 0%, rgba(255, 255, 255, 0.00) 40%), #FFF;
}

.btn {
    font-family: "Quicksand", serif;
    padding: 10px 30px;
    border: none;
    outline: none;
    border-radius: 12px;
    color: #ffffff;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
    transition: opacity .3s;
}

.btn:hover {
    opacity: .8;
}

.btn-orange {
    background:#FEA301;
}

.btn-black {
    background-color: #111;
}

/* Header Section Style Start */
.marquee {
    background-color: #111;
    color: #fff;
    padding: 10px 0px;
}

/* Navbar Style Start */
.navbar {
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}

.menu {
    display: flex;
    gap: 32px;
}

.menu li a {
    font-size: 1.25rem;
    font-weight: 500;
}

.mobile-menu {
    font-size: 2rem;
    color: #111;
    cursor: pointer;
    display: none;

}

/* Navbar Style End */

/* Header Section Style End */